/* *{
    background-color: rebeccapurple;
} */
body{
    background-color: rgb(161, 133, 61);
    /* color: white; */
}
button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: rgb(20, 93, 161);
  
}
#increment-btn{
    background: darkred;
}
#increment-btn:hover{
    background-color: rgb(105, 188, 105);
    font-size: 14px;
}
#purchase:hover,#save-btn:hover{
    background-color: rgb(105, 188, 105);
    font-size: 14px;
}
#error{
    color: red;
}